**/venv/
**/balance.db
**/user.db
**/read_balance
**/read_user
**/show_users
**/main_program
**/*.o
**/*.so
**/*.csv
cobol/.vscode/settings.json
.gitignore
cobol/COPY CODE.TXT
cobol/.vscode/COPY CODE.TXT
